.swiperItem {
  border: 1px solid yellow;
  width: 250px !important;
  max-height: 200px;
  height: 100px !important;
}

.container {
  margin-top: 100px;
  width: 750px;
  height: 120px;
  display: flex;
  justify-content: center;
}

.box1 {
  background-color: red;
}
.box2 {
  background-color: green;
}
.box3 {
  background-color: blue;
}

.box4 {
  background-color: magenta;
  border: 5px solid green;
}

.container .swiper-slide {
  height: 300px;
}

.prev {
  /* margin-right: -25px !important; */
  /* transform: scale(0.7) !important;
  transform: all 0.5s ease !important; */
}
.active {
  /* z-index: 1; */
  /* transform: scale(1.2) !important;

  transform: all 0.5s ease !important; */
}
.next {
  /* margin-left: -25px !important; */
  /* transform: all 0.5s ease !important;
  transform: scale(0.7) !important; */
}
